In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import sklearn as sk
from sklearn.model_selection import train_test_split

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

pd.set_option('display.width', 1000)

pd.set_option('display.max_colwidth', None)

In [22]:
lf = pd.read_csv("datasets/insurance.csv")
lf.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:

df = pd.read_csv("datasets/insurance.csv", header = None, na_values=["?"])

df.columns

Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [ ]:
df = pd.read_csv("datasets/insurance.csv", header = None, na_values=["?"])

df.columns
df.columns = [f"A{i}" for i in range(1,8)]

print(df.info())


print("\ndataframe head\n")
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      1339 non-null   object
 1   A2      1339 non-null   object
 2   A3      1339 non-null   object
 3   A4      1339 non-null   object
 4   A5      1339 non-null   object
 5   A6      1339 non-null   object
 6   A7      1339 non-null   object
dtypes: object(7)
memory usage: 73.4+ KB
None

dataframe null sum

A1    0
A2    0
A3    0
A4    0
A5    0
A6    0
A7    0
dtype: int64

dataframe head

    A1      A2      A3        A4      A5         A6           A7
0  age     sex     bmi  children  smoker     region      charges
1   19  female    27.9         0     yes  southwest    16884.924
2   18    male   33.77         1      no  southeast    1725.5523
3   28    male      33         3      no  southeast     4449.462
4   33    male  22.705         0      no  northwest  21984.47061

In [24]:
print("\ndataframe null sum\n")
print(df.isna().sum())

df.columns

dataframe null sum

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [26]:
df.head()

     0       1       2         3       4          5            6
0  age     sex     bmi  children  smoker     region      charges
1   19  female    27.9         0     yes  southwest    16884.924
2   18    male   33.77         1      no  southeast    1725.5523
3   28    male      33         3      no  southeast     4449.462
4   33    male  22.705         0      no  northwest  21984.47061

In [ ]:
X = df.drop(columns=['A1', 'A4'])